:root {
  --gradient-color: linear-gradient(
    128.95deg,
    #fd9943 21.39%,
    #ff3d59 87.37%,
    #fecb02
  );
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  margin: 0 auto;
  max-width: 1600px;
}
